#titulo-elim {
    text-align: center;
    padding-top: 25px;
}

#subtitulo-elim {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#carta2 {
    margin-bottom: 40px;
    width: 100%;
}

#carta3 {
    float: right;
    margin-bottom: 40px;
    width: 100%;
}