*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    overflow: hidden;
}
#text{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 12em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
    transform: rotate(-28deg) skew(25deg);
}
#text::before{
    content: attr(data-text);
    position: absolute;
    top: 30px;
    left: -30px;
    color: rgba(0,0,0,0.3);
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;
}
#titulo1{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#titulo{
    text-align: center;
    padding-top: 50px;
}

#texto1{
    padding-bottom: 50px;
}