#title-in{
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 20px; /* Ejemplo: Ajusta el margen superior según sea necesario */
    padding-top: 40px;
    padding-bottom: 35px;
    color: rgb(223, 196, 45);
}

#text-in{
    text-align: center;
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 10px;
    padding-bottom: 50px;
}

#subtitle-in{
    text-align: center;
}

#content-in{
    color: white;
}

#cuerpo-in{
    background-image: url("https://media.istockphoto.com/id/1297247938/es/foto/blanco-oro-fondo-degradado-textura-suave-dorado-con-tecnolog%C3%ADa-de-luz-diagonal-gris-y-blanco.webp?b=1&s=170667a&w=0&k=20&c=A5X_lD3lglEuh_dMpAjJBEX2ML5V2_UEE1gyRqyMWSo=");
    background-size: cover; 
}

.carousel {
    width: 80%; /* Ajusta el ancho del carrusel */
    max-width: 600px; /* Ajusta el ancho máximo del carrusel */
    margin: auto; /* Centra el carrusel horizontalmente */
    margin-bottom: 40px; /* Ajusta este valor según el tamaño del espacio que necesites */
}

.carousel-inner {
    border-radius: 10px; /* Bordes redondeados para el carrusel */
}

.carousel-item img {
    height: 300px; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Ajusta las imágenes para que cubran el área sin deformarse */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
}