{% extends './Navbar.html' %}

{%block title%}Canchas{%endblock%}

{% block extra_head %}
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3439/3439979.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Canchas.css') }}">
{% endblock %}

{%block body%}
    <body>
        <h1 id="titulo-canchas">Canchas de la Copa Renault</h1>
        <h3 id="subtititulo-canchas">Chequea la ubicacion de las canchas en las que juega tu equipo</h3>

        
    </body>
{%endblock%}